name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build_upload:
    name: Upload site contents (artifact)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload site contents
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs

  deploy_pages:
    name: Deploy artifact to Pages
    needs: build_upload
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
